.notification {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 389px;
  padding: 16px 24px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  .notifi-icon{
    margin: 3px 10px 3px 0px;
    svg{
      margin: -3px 5px -3px 0;
    }
  }
  .notifi-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h3 {
      margin: 0;
      color: #262626;
      font-size: 18px;
    }
  }
  .notifi-content {
    font-size: 14px;
    color: #595959;
    text-align: justify;
  }
  .notifi-button {
    display: flex;
    flex-direction: row-reverse;
    button {
      padding: 5px 32px;
      background: #1890ff;
      border: 1px solid #1890ff;
      box-sizing: border-box;
      border-radius: 4px;
      margin: 10px 0px;
      color: #FFFFFF;
      margin: 0px 8px;
      font-size: 14px;
    }
  }
}
