.hidden {
  display: none;
}
.visibility {
  display: block;
}
label {
  color: #262626;
  margin: 2px;
  font-size: 14px;
  line-height: 22px;
  display: block;
}
p {
  font-size: 14px;
  color: #8c8c8c;
  margin: 2px 0px;
  &.valid {
    color: #52c41a;
  }
  &.invalid {
    color: #f5222d;
  }
}
.date {
  input {
    background: #ffffff;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    border-radius: 4px;
    color: #595959;
    &::placeholder {
      color: #bfbfbf;
      font-size: 16px;
    }
    &:hover {
      box-shadow: inset 1px 0px 0px #40a9ff, inset 0px 1px 0px #40a9ff,
        inset -1px 0px 0px #40a9ff, inset 0px -1px 0px #40a9ff;
    }
    &:invalid {
      box-shadow: inset 1px 0px 0px #f5222d, inset 0px 1px 0px #f5222d,
        inset -1px 0px 0px #f5222d, inset 0px -1px 0px #f5222d;
    }
    &:disabled{
      background: #F5F5F5;
    }
    &:focus {
      outline: none;
      box-shadow: -1px -1px 3px rgba(64, 169, 255, 0.25),
        1px 1px 3px rgba(64, 169, 255, 0.25), inset 1px 0px 0px #40a9ff,
        inset 0px 1px 0px #40a9ff, inset -1px 0px 0px #40a9ff,
        inset 0px -1px 0px #40a9ff;
    }
    &.small {
      font-size: 14px;
      padding: 5px 8px;
    }
    &.medium {
      font-size: 14px;
      padding: 9px 12px;
    }
    &.large {
      font-size: 16px;
      padding: 12px 14px;
    }
  }
}
input[type="date"]:not(.has-value):before{
  color: #bfbfbf;
  content: attr(placeholder);
}


