.banner-alert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  background: #f5f5f5;
  box-shadow: inset 1px 0px 0px #d9d9d9, inset 0px 1px 0px #d9d9d9,
    inset -1px 0px 0px #d9d9d9, inset 0px -1px 0px #d9d9d9;
  border-radius: 4px;
  &.warning {
    color: #faad14;
    background: #fefae6;
    box-shadow: inset 1px 0px 0px #fff08f, inset 0px 1px 0px #fff08f,
      inset -1px 0px 0px #fff08f, inset 0px -1px 0px #fff08f;
  }
  &.error {
    color: #f5222d;
    background: #fff1f0;
    box-shadow: inset 1px 0px 0px #ffa39e, inset 0px 1px 0px #ffa39e,
      inset -1px 0px 0px #ffa39e, inset 0px -1px 0px #ffa39e;
  }
  &.success {
    color: #52c41a;
    background: #f6ffed;
    box-shadow: inset 1px 0px 0px #b7eb8f, inset 0px 1px 0px #b7eb8f,
      inset -1px 0px 0px #b7eb8f, inset 0px -1px 0px #b7eb8f;
  }
  &.change {
    color: #722ed1;
    background: #f3e4ff;
    box-shadow: inset 1px 0px 0px #d9d9d9, inset 0px 1px 0px #d9d9d9,
      inset -1px 0px 0px #d9d9d9, inset 0px -1px 0px #d9d9d9;
  }
  &.info {
    color: #1890ff;
    background: #e6f7ff;
    box-shadow: inset 1px 0px 0px #d9d9d9, inset 0px 1px 0px #d9d9d9,
      inset -1px 0px 0px #d9d9d9, inset 0px -1px 0px #d9d9d9;
  }
  .banner-icon{
    display: flex;
  flex-direction: row;
    .body {
      color: #595959;
      margin: 0px 15px;
      h3 {
        font-size: 18px;
        margin: 0;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
