<div class="dropdown">
  <button type="button" [ngClass]="classes" [ngStyle]="{ 'background-color': backgroundColor }">
    <span>{{label}}</span>
    <svg width="12" height="10" viewBox="0 0 12 8" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path d="M10.2075 0.875L6 5.07333L1.7925 0.875L0.5 2.1675L6 7.6675L11.5 2.1675L10.2075 0.875Z" />
    </svg>
  </button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
