 .tooltip {
  position: relative;
  text-align: center;
  display: inline-block;
  padding: 10px ;
  .tooltiptext {
    width: 100%;
    visibility: hidden;
    position: absolute;
    background: #000000;
    border-radius: 4px;
    padding: 5px 8px;
    z-index: 1;
    font-size: 14px;
    color: #fff;
    transform: translate(0, 10px);
    &.top {
      bottom: 100%;
      left: 0%;
      &.up {
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border: 5px solid;
          border-color: #000 transparent transparent transparent;
        }
      }
      &.center {
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border: 5px solid;
          border-color: #000 transparent transparent transparent;
        }
      }
      &.down {
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 75%;
          margin-left: -5px;
          border: 5px solid;
          border-color: #000 transparent transparent transparent;
        }
      }
    }
    &.bottom {
      top: 110%;
      left: 0%;
      &.up {
        &::after {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 15%;
          margin-left: -5px;
          border: 5px solid;
          border-color:  transparent transparent #000 transparent;
        }
      }
      &.center {
        &::after {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 50%;
          margin-left: -5px;
          border: 5px solid;
          border-color: transparent transparent #000 transparent;
        }
      }
      &.down {
        &::after {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 80%;
          margin-left: -5px;
          border: 5px solid;
          border-color: transparent transparent #000 transparent;
        }
      }
    }
    &.left {
      right: 100%;
      &.up {
        top: 0%;
        &::after {
          content: "";
          position: absolute;
          top: 18%;
          left: 100%;
          margin-top: -5px;
          border: 5px solid;
          border-color:  transparent transparent transparent #000;
        }
      }
      &.center {
        top: 10%;
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 100%;
          margin-top: -5px;
          border: 5px solid;
          border-color: transparent transparent transparent #000;
        }
      }
      &.down {
        top: 10%;
        &::after {
          content: "";
          position: absolute;
          top: 70%;
          left: 100%;
          margin-top: -5px;
          border: 5px solid;
          border-color: transparent transparent transparent #000;
        }
      }
    }
    &.right {
      left: 100%;
      &.up {
        top: 0%;
        &::after {
          content: "";
          position: absolute;
          top: 15%;
          right: 100%;
          margin-left: -5px;
          border: 5px solid;
          border-color:  transparent #000 transparent transparent;
        }
      }
      &.center {
        top: -25%;
        &::after {
          content: "";
          position: absolute;
          top: 35%;
          right: 100%;
          margin-left: -5px;
          border: 5px solid;
          border-color: transparent #000 transparent transparent;
        }
      }
      &.down {
        top: -30%;
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 100%;
          margin-left: -5px;
          border: 5px solid;
          border-color: transparent #000 transparent transparent;
        }
      }
    }
  }
  &:hover {
    .tooltiptext {
      visibility: visible;
      z-index: 10;
      transform: translate(0, 0px);
      transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
    }
  }
}
